*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .left-box{
    float: left;
    width: 40%;
    height: 100vh;
  }
  .home {
    height:150vh;
    width: 100vw;
    background-image: url(../images/secondary_background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    overflow: hidden;
}
.home .info{
    width:47%;
    display: grid;
    grid-template-columns:repeat(1,1fr)  ;
    flex-direction: column;
    margin-left:30%;
    float: left;
}
 .main .section-header .h2-title{
    margin:100px 0px 30px 0px;
    color: #fff;
  }
.main .section-header .row3 {
    width: 190px;
    height: 1px;
    background-color:#dbb338;
    margin-top: -23px;
    margin-bottom: 50px;
    display: block;
}
.home label.label{    
    color: #fff;
    margin-bottom: -20px;
}
.home .main .input{
    width:  100%;
    height: 50px;
    margin-bottom: 50px;
    margin-top: 15px;
    border-radius:7px;
    opacity: 0.4;
    background-color:  #696969;
    font-size: 21px;
    color: #000000;
}
.home .main .input2{
    width:90%;
    height: 50px;
    margin-bottom: 25px;
    margin-top: 15px;
    border-radius: 7px;
    opacity: 0.4;
    margin-top: 15px;
    background-color:   #686868;
    cursor: pointer;
    font-size: 21px;
}
.home .main .input3{
    width: 100%;
    height: 100px;
    margin-bottom: 20px;
    margin-top: 15px;
    border-radius:7px;
    opacity: 0.4;
    background-color:  #6e6e6e;
    font-size: 21px;
    color: #000000;
}
/* /////////////////////////////////////// */
.container .to{
    margin-top: 15px;
    margin-left: -7%;
}
.home .main .inp2{
    width: 300px;
}
.home .main .inp1{
    width:1000px;
}
.home .main .inp{
    width:570px;
}
.home .inp3{
    width:300px;
}

.home .main .info4{
    display: grid;
    grid-template-columns:repeat(3,1fr)  ;
    flex-direction: column;
}
.home .main .inp4{
    width: 380px;
    margin-right: 15px;
}

.home .main .info2{
    display: grid;
    grid-template-columns:repeat(2,1fr)  ;
    flex-direction: column;
}
/* ///////////////////////////////////////////// */
.home .select{
    margin-bottom: 25px;
}
.home .option{
    background-color:   #858585;
    opacity: 0.2;
    font-size: 19px;
    color: #000000;    
}
.home .button{
    width: 140px;
    height: 40px;
    float: right;
    margin: auto;
    margin-left: -240px;
   margin-bottom: 60px;
    background-color:  #dbb338;
    color: #fff;
    border-radius: 7px;
    cursor: pointer;
}
.home .title2{
    color: #fff;
    font-size: 18px;
    margin-top: 180px;
    margin-left: -100px;
    float: left;  
}
.home #drop-container{
    width:400px ;
    height: 230px;
    background-color:#1A1919;
    border: dashed 3px #dbb338;
    border-radius: 5px;
    text-align: center;
    padding-top: 40px;
    margin-left: -25%;
    margin-bottom: -550px;
    margin-top: 15px;
}
.home #drop-container:active{
    border: solid 3px #dbb338;
    cursor: pointer;
}
#drop-container.icon{
    font-size: 100px;
    color:#dbb338 ;
    cursor: pointer;
    border: none;
    display: block;
    margin: auto;
    margin-top: 30px;
}
#drop-container #icon2{
    display: none;
    font-size: 90px;
    color:#dbb338 ;
    cursor: pointer;
    border: none;
    margin-top: -25px;
}
.main #drop-container .drag-desc{
    display: flex;
    text-align: center;
}
#drop-container .drag-drop h3{
color: #fff;
display: none;
margin-bottom: 20px;
font-size: 15px;
margin: auto;
margin-top: 10px;

}
#drop-container .drag-drop{
    padding: 2%;
    margin: auto;
}
.main #drop-container .drag-desc h2 {
    color:#fff ;
    margin-bottom:15px ;
    margin: auto;
}
.main #drop-container .drag-drop input{
    display: none;
}
.main #drop-container .drag-desc .browse{
    color: #dbb338;
    cursor: pointer;
    text-decoration: underline;
    font-size: 21px;
    text-align: center;
}
.main #drop-container p{
    color:#ffffff1e ;
    margin-top: 10px;
}
#drop-container #drop-area img{
    max-width: 700PX;
    max-height: 200PX;
    background-color:#1A1919;
    margin-top: -40px;
    background-size: cover;
    border-radius: 10PX;
    cursor: pointer;
}
input:focus{
    box-shadow: none;
}
.home .inputs{
    width: 100%;
    float: left;
    display: inline-flex;
} .main .radio{
    float: right;
    margin-top: 45px;
}
.radio .radio2{
    margin-left: -65%;
}
.home .buttons{
    width: 77%;    
    margin-left: 110px;
    margin-top: 80px;
}
.home .buttons label{
    background-color: #dbb338;
    cursor: pointer;
}
.home .button2{
    width: 140px;
    height: 40px;
    background-color:  #dbb338;
    color: #fff;
    border-radius: 7px;
    float: right;
    cursor: pointer;
    margin-bottom: 20px;
    margin: 0 10px;
    font-size: 17px;
}
.home .btn-color{
    background-color: #999999;
}
.home .main .t{
    margin-bottom: 0px;
}
input:focus{
    box-shadow: none;
}
@media(max-width:567px){
    .home {
        height:350vh;
        width: 100vw;
        background-image: url(../images/secondary_background.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
    }
    .overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.8);
        overflow: hidden;
    }
    .container-info{
        width: 100%;
    }
    .home .main .info{
        width: 55%;
        display: grid;
        grid-template-columns:repeat(1,1fr)  ;
        flex-direction: column;
        margin: 0% 10%;
    }

    .home .main .info6{
        display: grid;
        grid-template-columns:repeat(2,1fr)  ;
        flex-direction: column;
        width: 200px;
    }
    .home .main .inp2{
        width:  330px;
    }
    .home .main .inp1{
        width: 300px;
    }
    .radio .radio1{
        margin:-15% 0px   10% 10px;
    }
    .radio .radio2{
        margin-top: -15%;
        margin-left: ;
        margin:-15% 0px  0% -65%;

    }
    .home .main .inp{
        width: 300px;
    }
    .home .main .inp4{
        width: 330px;
    }
    .container{
        display: block;
        width:100% ;
    }
    .home .title2{
        float: left;
        margin-left: 5%;
        margin-top: -15px;
    }
    .home .main #drop-container{
        width:300px ;
        height: 230px;
        background-color:#1A1919;
        border: dashed 2px #dbb338;
        border-radius: 5px;
        margin: 15px 0 25px 5%;
        float: left;
        display: grid;
        grid-template-columns:repeat(1,1fr)  ;
        flex-direction: column;
    }
    #drop-container .drag-desc h2 {
        font-size: 17px;
    }
    .home #skills{
        margin-bottom:50% ;
    }
    .home .buttons{
        display: grid;
        grid-template-columns:repeat(1,1fr)  ;
        flex-direction: column;
    }
    .home .button2{
        width: 300px;
        height: 55px;
        background-color:  #dbb338;
        color: #fff;
        border-radius: 7px;
        cursor: pointer;
        float:left ;
        margin-left: -22%;
        margin-bottom: 20px;
    }
    .home .btn-color{
        background-color: #999999;
    }
    .home .button{
        display: none;
    }
}